header {
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  .site-logo {
    padding: 8px 24px;
    border-radius: 25px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
      text-decoration: none;
    }
  }
}
