footer {
  background-color: var(--navbar-footer-color);
  padding: 30px 0;

  .site-logo {
    padding: 6px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
  }

  .nav-link {
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: var(--body-text-color);
      text-decoration: underline;
    }
  }

  p {
    color: var(--body-text-color);
    font-size: 0.85rem;
  }
}
